.criacao-quizz-chamada-simples {
  width: 80%;
  display: flex;
  align-items: center;
  margin-top: 100px;
}

.criacao-quizz-chamada-simples p {
  font-weight: bold;
  margin-right: 15px;
}

.criacao-quizz-chamada-simples ion-icon {
  font-size: 1.5rem;
  color: #ec362d;
}

.criacao-quizz-chamada {
  width: 80%;
  margin-top: 140px;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px dashed #d4d4d4;
  border-radius: 5px;
}

.criacao-quizz-chamada p {
  width: 200px;
  text-align: center;
  margin-bottom: 1rem;
  color: #b9b9b9;
}

.criacao-quizz-chamada a {
  padding: 0.5rem 1rem;
  border: 1px dashed #ec362d;
  border-radius: 20px;
  color: #ec362d;
}

/*  */

.criacao-quizz {
  width: 100%;
  /* min-height: calc(100% - 74px); */
  background-color: #fff;
  position: absolute;
  top: 140px;
}

.criacao-quizz-telas {
  width: 60%;
  margin: 0 auto;
}

.criacao-quizz-telas input {
  margin: 0.75rem 0;
  padding: 0.75rem 1.25rem;
  font-size: 1.25rem;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
}

.criacao-quizz-telas h3 {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.criacao-quizz-telas form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.informacoes-basicas input {
  width: 80%;
}

.criacao-input-submit {
  background-color: #ec362d;
  color: #fff;
  border-radius: 15px;
  border: none;
  padding: 0.75rem 1.25rem;
  margin: 1rem 0;
  text-align: center;
  font-size: 1rem;
}

.criacao-input-submit:hover {
  cursor: pointer;
}

/*  */

.perguntas .pergunta {
  width: 80%;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  margin-bottom: 2rem;
}

.perguntas .pergunta input {
  width: 100%;
}

.perguntas .pergunta p:not(:first-child) {
  margin-top: 2rem;
}

.pergunta-titulo {
  padding: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pergunta-titulo:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.pergunta-titulo img {
  width: 20px;
}

/*  */

.niveis .nivel {
  width: 80%;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  margin-bottom: 2rem;
}

.niveis .nivel input {
  width: 100%;
}

.niveis .nivel p:not(:first-child) {
  margin-top: 2rem;
}

.nivel-titulo {
  padding: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nivel-titulo:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.nivel-titulo img {
  width: 20px;
}

/*  */

.sucesso-quizz {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

.sucesso-quizz div img {
  border-radius: 5px;
}

.sucesso-quizz div {
  position: relative;
}

.sucesso-quizz .sucesso-quizz-titulo {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: #fff;
  font-weight: bold;
  margin-right: 15px;
  word-break: break-all;
}

.voltar-home {
  color: gray;
}

/*  */

@media (max-width: 1100px) {
  .criacao-quizz-chamada-simples {
    width: 90%;
    justify-content: space-between;
  }

  .criacao-quizz-chamada {
    width: 90%;
  }

  .criacao-quizz-telas {
    width: 100%;
  }

  .perguntas .pergunta {
    width: 90%;
  }

  .niveis .nivel {
    width: 90%;
  }

  .criacao-quizz-telas input {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .criacao-input-submit {
    width: 80%;
    font-size: 1rem;
  }

  .sucesso-quizz div {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .sucesso-quizz img {
    width: 90%;
    height: auto;
  }
}
