.criacao-quizz-chamada {
    width: 80%;
    margin: 0 auto;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px dashed #d4d4d4;
    border-radius: 5px;
}

.criacao-quizz-chamada p {
    width: 200px;
    text-align: center;
    margin-bottom: 1rem;
    color: #B9B9B9;
}

.criacao-quizz-chamada a {
    padding: 0.5rem 1rem;
    border: 1px dashed #EC362D;
    border-radius: 20px;
    color: #EC362D;
}

/*  */

.criacao-quizz {
    width: 100%;
    /* min-height: calc(100% - 74px); */
    background-color: #fff;
    position: absolute;
    top: 140px;
}

.criacao-quizz-telas {
    width: 60%;
    margin: 0 auto;
}

.criacao-quizz-telas input {
    margin: 0.75rem 0;
    padding: 0.75rem 1.25rem;
    font-size: 1.25rem;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
}

.criacao-quizz-telas h3 {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.criacao-quizz-telas form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.informacoes-basicas input {
    width: 80%;
}

.criacao-input-submit {
    background-color: #EC362D;
    color: #fff;
    border-radius: 15px;
    border: none;
    padding: 0.75rem 1.25rem;
    margin: 1rem 0;
    text-align: center;
    font-size: 1rem;
}

.criacao-input-submit:hover {
    cursor: pointer;
}

/*  */

.perguntas .pergunta {
    width: 80%;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin-bottom: 2rem;
}

.perguntas .pergunta input {
    width: 100%;
}

.perguntas .pergunta p:not(:first-child) {
    margin-top: 2rem;
}

.pergunta-titulo {
    padding: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pergunta-titulo:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.pergunta-titulo img {
    width: 20px;
}

/*  */

@media (max-width:1100px) {
    .criacao-quizz-chamada {
        width: 90%;
    }

    .criacao-quizz-telas {
        width: 100%;
    }

    .perguntas .pergunta {
        width: 90%;
    }

    .criacao-quizz-telas input {
        width: 90%;
    }
}

@media (max-width:480px) {
    .criacao-input-submit {
        width: 80%;
        font-size: 1rem;
    }
}